@import "fonts.css";
body {
  background-image: url("../images/bg-body.jpg");
  background-size: cover;
  overflow-x: hidden;
}

/*header {
  .container {
    .navbar {
      .navbar-nav {
        align-items: center;
        .nav-item {
          &:first-of-type {
            margin-right: 51px;
          }
          &:nth-child(2) {
            margin-right: 50px;
          }
          &:nth-child(3) {
            margin-right: 51px;
          }
          &:nth-child(4) {
            margin-right: 46px;
          }
          .nav-link {
            font: 15px/24px 'Poppins';
            font-style: normal;
            font-weight: 500;
            color: #262323;
            display: inline-block;
          }
        }
      }
    }
  }
}*/
/*
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/
/*======================================================
                          Navbar
  ======================================================*/
.navbar {
  /*  background: white;*/
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}
.navbar .nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
@media (max-width: 768px) {
  .navbar .nav-wrapper {
    width: 90%;
  }
}
@media (max-width: 638px) {
  .navbar .nav-wrapper {
    width: 100%;
  }
}
.navbar .nav-wrapper .logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .navbar .nav-wrapper .logo {
    /*       margin-left: 5px; */
  }
}
.navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 640px) {
  .navbar ul {
    display: none;
  }
}
@media (orientation: landscape) {
  .navbar ul {
    display: inline-block;
  }
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li:first-of-type a {
  color: #40A3F8;
}
.navbar ul li:nth-child(2) a {
  color: #6E5F5F;
  opacity: 0.7;
}
.navbar ul li:nth-child(3) a {
  color: #6E5F5F;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.navbar ul li:nth-child(4) a {
  color: #262323;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.navbar ul li:nth-child(5) a {
  padding: 14px 28px 11px;
  background-color: #40A3F8;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.997px;
  line-height: 22px;
  color: #FFFFFF;
}
.navbar ul li a {
  display: inline-block;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /*&:first-of-type{
    color: #40A3F8;
  }
  &:nth-child(2){
    color: #6E5F5F;
  }
  &:nth-child(3){
    color: #6E5F5F;
  }
  &:nth-child(4){
    color: #262323;
  }
  &:nth-child(5){
    padding: 14px 28px 11px;
    background-color: #40A3F8;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.997px;
    line-height: 22px;
    color: #FFFFFF;
  }*/
}
.navbar ul li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
.navbar li a:before, .navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

.navbar li a:before {
  left: 0;
  transition: 0.5s;
}

.navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

.navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
@media (max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }
  /* Icon Bars */
  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    /*     -webkit-transition: top 0.2s ease 0.3s;
        transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }
  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    /*     -webkit-transition: top 0.2s ease 0.3s;
        transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }
  /* Bars Shadows */
  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  }
  @keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }
  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  }
  @keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }
  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  }
  @keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }
  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }
  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}
/*======================================================
                   Responsive Mobile Menu
  ======================================================*/
.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  z-index: 10;
}

.overlay-menu ul, .overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
  /*   opacity: 0; */
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/*#navbarSupportedContent{
  ul{
    li{
      &:nth-child(5){
        a{
          padding: 14px 28px 11px;
          background-color: #40A3F8;
          border-radius: 5px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 14.997px;
          line-height: 22px;
          color: #FFFFFF;
        }
      }
    }
  }
}*/
/*.navbar-nav .nav-item li:last-of-type a{
  padding: 14px 28px 11px;
  background-color: #40A3F8;
  border-radius: 5px;
}*/
.main-banner {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-banner .container .container .row .main-banner-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #3E3E3E;
}
.main-banner .container .container .row .main-banner-text h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #40A3F8;
}
.main-banner .container .container .row .main-banner-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.46);
  text-align: left;
}
.main-banner .container .container .row .main-banner-text form {
  max-width: 566px;
  min-height: 86px;
  background: #FFFFFF;
  box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-banner .container .container .row .main-banner-text form:before {
  content: "";
  width: 15px;
  height: 17px;
  display: block;
  position: absolute;
  background-image: url("../images/geoposition-img.svg");
  right: 268px;
  top: 31px;
}
.main-banner .container .container .row .main-banner-text form .btn {
  width: 70px;
  height: 59px;
  background-color: #40A3F8;
}
.main-banner .container .container .row .main-banner-text form .form-control {
  text-align: center;
  width: 216px;
  height: 59px;
  background: rgba(245, 246, 250, 0.52);
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
.main-banner .container .container .row .main-banner-text form .form-select {
  text-align: center;
  max-width: 203px;
  min-height: 59px;
  background: rgba(245, 246, 250, 0.52);
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3D3D3F;
}
.main-banner .container .container .row .doctor-main-banner {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .main-banner .container .container .row .doctor-main-banner {
    display: none;
  }
}
.main-banner .container .container .row .doctor-main-banner .doctor-bg {
  position: absolute;
  top: -191px;
  left: -190px;
  z-index: -1;
}
.main-banner .container .container .row .doctor-main-banner .circle-bg {
  position: absolute;
  top: -215px;
  left: 25px;
  z-index: -2;
}
.main-banner .container .container .row .doctor-main-banner .wu-icon {
  position: absolute;
  top: -157px;
  right: -220px;
}
.main-banner .container .container .row .doctor-main-banner .wu-icon:hover {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}
.main-banner .container .container .row .doctor-main-banner .phone-icon {
  position: absolute;
  top: -150px;
  left: 16px;
}
.main-banner .container .container .row .doctor-main-banner .phone-icon:hover {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}
.main-banner .container .container .row .doctor-main-banner .happy-icon {
  position: absolute;
  bottom: 11px;
  right: -280px;
}
.main-banner .container .container .row .doctor-main-banner .happy-icon:hover {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}
.main-banner .container .container .row .doctor-main-banner .pr-icon {
  position: absolute;
  bottom: -73px;
  left: -25px;
}
.main-banner .container .container .row .doctor-main-banner .pr-icon:hover {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}
.main-banner .container .container .row .doctor-main-banner .chat-icon {
  position: absolute;
  top: 82px;
  left: -37px;
}
.main-banner .container .container .row .doctor-main-banner .chat-icon:hover {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}

.steps {
  margin-bottom: 79px;
  height: 50vh;
}
.steps .container .row .steps-header {
  text-align: center;
}
.steps .container .row .steps-header h3 {
  margin-bottom: 51px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 70px;
  color: #3E3E3E;
}
.steps .container .row .steps-item {
  min-height: 188px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.steps .container .row .steps-item .steps-icon-1 {
  position: absolute;
  top: 18px;
  left: 165px;
}
@media screen and (max-width: 1199px) {
  .steps .container .row .steps-item .steps-icon-1 {
    left: 136px;
  }
}
@media screen and (max-width: 991px) {
  .steps .container .row .steps-item .steps-icon-1 {
    left: 95px;
  }
}
@media screen and (max-width: 767px) {
  .steps .container .row .steps-item .steps-icon-1 {
    left: 65px;
  }
}
.steps .container .row .steps-item .steps-icon-2 {
  position: absolute;
  top: 17px;
  left: 167px;
}
@media screen and (max-width: 1199px) {
  .steps .container .row .steps-item .steps-icon-2 {
    left: 136px;
  }
}
@media screen and (max-width: 991px) {
  .steps .container .row .steps-item .steps-icon-2 {
    left: 95px;
  }
}
.steps .container .row .steps-item .steps-icon-3 {
  position: absolute;
  top: 17px;
  left: 163px;
}
@media screen and (max-width: 1199px) {
  .steps .container .row .steps-item .steps-icon-3 {
    left: 136px;
  }
}
@media screen and (max-width: 991px) {
  .steps .container .row .steps-item .steps-icon-3 {
    left: 95px;
  }
}
.steps .container .row .steps-item h3 {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3D3D3F;
}
.steps .container .row .steps-item p {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.d-flex {
  display: flex;
}

.best-service {
  margin-bottom: 143px;
  height: 60vh;
}
.best-service .container .row {
  justify-content: space-between;
  position: relative;
}
.best-service .container .row .doctor-review {
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 34px 26px 20px 26px;
  text-align: center;
  position: relative;
  position: absolute;
  z-index: 2;
  top: 132px;
  left: -81px;
}
.best-service .container .row .doctor-review .heart-img {
  position: absolute;
  top: -43px;
  left: 90px;
}
.best-service .container .row .doctor-review .first-review img:first-of-type {
  display: block;
  position: absolute;
  top: 22px;
  left: -10px;
}
.best-service .container .row .doctor-review .first-review .review-text h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3D3D3F;
}
.best-service .container .row .doctor-review .first-review .review-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(61, 61, 63, 0.4);
  margin-bottom: 0;
}
.best-service .container .row .doctor-review .first-review .review-text p span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #3D3D3F;
  margin-left: 23px;
}
.best-service .container .row .doctor-review .first-review .review-text p span:before {
  content: "";
  display: inline-block;
  background-image: url("../images/star-img.svg");
  width: 12px;
  height: 12px;
  position: absolute;
  right: 47px;
}
.best-service .container .row .doctor-review .benefits {
  max-width: 206px;
}
.best-service .container .row .doctor-review .benefits .review-text {
  text-align: center;
}
.best-service .container .row .doctor-review .benefits .review-text p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #A0A2B3;
  margin-bottom: 0;
}
.best-service .container .row .doctor-review .benefits .review-text span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  align-items: center;
  color: #636481;
  display: inline-block;
  position: relative;
  top: -10px;
}
.best-service .container .row .doctor-review .clinic {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(61, 61, 63, 0.7);
  letter-spacing: 0.02em;
}
.best-service .container .row .doctor-review .clinic:before {
  display: inline-block;
  content: "";
  background: url("../images/GEO.svg");
  width: 15px;
  height: 18px;
  position: relative;
  left: -8px;
  top: 4px;
}
.best-service .container .row .main-banner-text {
  max-width: 506px;
}
.best-service .container .row .main-banner-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.best-service .container .row .main-banner-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}
.best-service .container .row .main-banner-text ul {
  list-style: none;
  position: relative;
}
.best-service .container .row .main-banner-text ul li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.best-service .container .row .main-banner-text ul li:first-of-type:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 1px;
  left: 0px;
  background-image: url("../images/chekbox.svg");
}
.best-service .container .row .main-banner-text ul li:nth-child(2):before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 34px;
  left: 0px;
  background-image: url("../images/chekbox.svg");
}
.best-service .container .row .main-banner-text ul li:last-of-type:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0px;
  background-image: url("../images/chekbox.svg");
}
.best-service .container .row .main-banner-text a {
  padding: 10px 42px 10px 19px;
  background-color: #40A3F8;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.best-service .container .row .main-banner-text a:after {
  content: "";
  position: absolute;
  top: 13px;
  right: 16px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons-right.svg");
}
.best-service .container .row .doctor-banner {
  position: relative;
}
.best-service .container .row .doctor-banner .doctor-bg {
  position: absolute;
  z-index: 1;
  top: -97px;
}
.best-service .container .row .doctor-banner .doctor-bg-circle {
  position: absolute;
  top: 194px;
}
.best-service .container .row .doctor-banner .shape-bg {
  position: absolute;
  top: 194px;
}
.best-service .container .row .doctor-banner .elips-bg {
  left: 82px;
  position: absolute;
}
.best-service .container .row .doctor-banner .user-feedback {
  position: absolute;
  z-index: 1;
  top: 21px;
  right: -48px;
}

/*body > section.our-servise > div:nth-child(2) > div > div.owl-stage-outer > div > div.owl-item.active.center > div*/
/*body > section.our-servise > div:nth-child(2) > div > div.owl-stage-outer > div > div.owl-item.active.center*/
.owl-item.active.center {
  position: relative;
}
.owl-item.active.center div:after {
  content: "";
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/carousel-active-element.svg");
  height: 258px;
  width: 589px;
  position: absolute;
  bottom: -92px;
  left: -150px;
}

.our-servise {
  margin-bottom: 121px;
}
.our-servise .container h3 {
  margin-bottom: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.our-servise .container p {
  margin-bottom: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}
.our-servise .owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.our-servise .owl-carousel .owl-dots .active span {
  background: #40A3F8;
  border-radius: 6px;
  height: 15px;
  width: 60px;
  transition: 1.5s;
  transition-duration: 0.2s;
}
.our-servise .owl-carousel .owl-dots span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #DBE8EE;
  align-items: center;
  border-radius: 50%;
  margin: 5px;
}
.our-servise .owl-carousel .owl-dots span:hover {
  background: #40A3F8;
  transition-duration: 0.2s;
  transition: opacity 1.5s;
}
.our-servise .owl-carousel .item-1 {
  max-width: 349px;
  min-height: 316px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-right: 65px;
}
.our-servise .owl-carousel .item-1 h5 {
  margin-bottom: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
}
.our-servise .owl-carousel .item-1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}
.our-servise .owl-carousel .item-1 img {
  width: 83px;
  margin-bottom: 19px;
}
.our-servise .owl-carousel .item-2 {
  max-width: 349px;
  min-height: 316px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-right: 65px;
}
.our-servise .owl-carousel .item-2 h5 {
  margin-bottom: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
}
.our-servise .owl-carousel .item-2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}
.our-servise .owl-carousel .item-2 img {
  width: 76px;
  margin-bottom: 17px;
}
.our-servise .owl-carousel .item-3 {
  max-width: 349px;
  min-height: 316px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-right: 65px;
}
.our-servise .owl-carousel .item-3 h5 {
  margin-bottom: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
}
.our-servise .owl-carousel .item-3 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}
.our-servise .owl-carousel .item-3 img {
  width: 65px;
  margin-bottom: 13px;
}

.our-doctors {
  margin-bottom: 220px;
}
.our-doctors .container {
  text-align: center;
}
.our-doctors .container .doctor-card h5 {
  margin-top: 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
}
.our-doctors .container .doctor-card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}
.our-doctors .container .explore-drs {
  margin-top: 86px;
}
.our-doctors .container .explore-drs a {
  display: inline-block;
  padding: 9px 21px 8px 22px;
  background-color: #40A3F8;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
}
.our-doctors .container h3 {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.our-doctors .container img {
  margin-bottom: 16px;
}
.our-doctors .container p {
  margin-bottom: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}
.our-doctors .container .row .doctor-card {
  margin-right: 24px;
  max-width: 267px;
  max-height: 400px;
  border: 1px solid #EEEFF1;
  border-radius: 10px;
}
.our-doctors .container .row .doctor-card:last-of-type {
  margin-right: 0;
}
.our-doctors .container .row .doctor-card .item {
  /*          width: 241px;*/
  height: 249px;
  border-radius: 10px;
}
.our-doctors .container .row .doctor-card .drs-sm a {
  margin-right: 12px;
}

.mobile-apps .container .main-banner-text {
  max-width: 503px;
  padding-top: 170px;
}
.mobile-apps .container .main-banner-text h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.mobile-apps .container .main-banner-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}

.clients-opinion h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  margin-bottom: 93px;
  text-align: center;
}
.clients-opinion .owl-carousel .owl-stage {
  padding-top: 20px;
}
.clients-opinion .owl-carousel .owl-nav button .owl-next:after {
  content: "";
  display: block;
  width: 32px;
  height: 33px;
  position: absolute;
  background-image: url("../images/nav-icon-next.svg");
}
.clients-opinion .owl-carousel .item-1 {
  position: relative;
  max-width: 370px;
  min-height: 347px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 0 0 30px 30px;
}
.clients-opinion .owl-carousel .item-1 .quote-icon:after {
  content: "";
  background-image: url("../images/quote-icon.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: 41px;
}
.clients-opinion .owl-carousel .item-1 h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  color: #3D3D3F;
  margin-bottom: -14px;
}
.clients-opinion .owl-carousel .item-1 p:first-of-type {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.clients-opinion .owl-carousel .item-1 p:last-of-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #454D5D;
  width: 305px;
  height: 156px;
}
.clients-opinion .owl-carousel .item-1 .client-photo-1 {
  height: 63px;
  width: 63px;
  position: absolute;
  top: 7px;
  left: 142px;
}
.clients-opinion .owl-carousel .item-1 .grade {
  width: 103px;
  height: 55px;
  position: absolute;
  top: 87px;
  right: 20px;
}
.clients-opinion .owl-carousel .item-2 {
  position: relative;
  max-width: 370px;
  min-height: 347px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 0 0 30px 30px;
}
.clients-opinion .owl-carousel .item-2 .quote-icon:after {
  content: "";
  background-image: url("../images/quote-icon.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: 41px;
}
.clients-opinion .owl-carousel .item-2 h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  color: #3D3D3F;
  margin-bottom: -14px;
}
.clients-opinion .owl-carousel .item-2 p:first-of-type {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.clients-opinion .owl-carousel .item-2 p:last-of-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #454D5D;
  width: 305px;
  height: 156px;
}
.clients-opinion .owl-carousel .item-2 .client-photo-2 {
  height: 63px;
  width: 63px;
  position: absolute;
  top: 7px;
  left: 142px;
}
.clients-opinion .owl-carousel .item-2 .grade {
  width: 103px;
  height: 55px;
  position: absolute;
  top: 87px;
  right: 20px;
}
.clients-opinion .owl-carousel .item-3 {
  position: relative;
  max-width: 370px;
  min-height: 347px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 0 0 30px 30px;
}
.clients-opinion .owl-carousel .item-3 .quote-icon:after {
  content: "";
  background-image: url("../images/quote-icon.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: 41px;
}
.clients-opinion .owl-carousel .item-3 h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  color: #3D3D3F;
  margin-bottom: -14px;
}
.clients-opinion .owl-carousel .item-3 p:first-of-type {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.clients-opinion .owl-carousel .item-3 p:last-of-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #454D5D;
  width: 305px;
  height: 156px;
}
.clients-opinion .owl-carousel .item-3 .client-photo-3 {
  height: 63px;
  width: 63px !important;
  position: absolute;
  top: 7px;
  left: 142px;
}
.clients-opinion .owl-carousel .item-3 .grade {
  width: 103px;
  height: 55px;
  position: absolute;
  top: 87px;
  right: 20px;
}

.booking-appoinment {
  margin-top: 198px;
}
.booking-appoinment .container {
  max-width: 1170px;
  min-height: 341px;
  border-radius: 12px;
  background-image: url("../images/booking-appoinment-texture.png");
  background-color: #40A3F8;
  background-size: 78%;
}
.booking-appoinment .container .text {
  padding-top: 82px;
  padding-left: 118px;
}
.booking-appoinment .container .text h3 {
  padding-bottom: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.booking-appoinment .container .text a {
  padding: 16px 17px 15px 18px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: "cpsp" on;
  color: #40A3F8;
}
.booking-appoinment .container .booking-appoinment-dr {
  position: relative;
}
.booking-appoinment .container .booking-appoinment-dr img {
  position: absolute;
  top: -111px;
}

footer {
  /*  padding: 34px 134px 53px 139px;*/
  margin-top: 123px;
}
footer .container:first-of-type {
  background-color: #FFFFFF;
  max-width: 100%;
  padding: 34px 134px 53px 139px;
  position: relative;
}
footer .container:first-of-type:after {
  background-image: url("../images/footer-line.svg");
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 22px;
  left: 0px;
}
footer .container:last-of-type {
  padding: 5px 0 30px;
}
footer .container .logo-info .logo-sm a {
  margin-right: 16px;
}
footer .container .logo-info img {
  margin-bottom: 12px;
}
footer .container .logo-info p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  margin-bottom: 16px;
}
footer .container .category ul {
  margin-top: 11px;
  list-style: none;
}
footer .container .category ul li {
  margin-bottom: 24px;
}
footer .container .category ul li:first-of-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
}
footer .container .category ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  text-decoration: none;
}
footer .container .about ul {
  margin-top: 11px;
  list-style: none;
}
footer .container .about ul li {
  margin-bottom: 24px;
}
footer .container .about ul li:first-of-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
}
footer .container .about ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  text-decoration: none;
}
footer .subscribe {
  margin-top: 11px;
}
footer .subscribe h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 19px;
}
footer .subscribe p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  margin-bottom: 15px;
}
footer form {
  min-height: 92px;
  max-width: 292px;
  background: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.65);
}
footer form input {
  width: 100%;
  height: 40px;
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  margin-bottom: 12px;
}
footer form button {
  width: 100%;
  height: 40px;
  background: #40A3F8;
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
footer .license-info .rights {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
footer .license-info .privacy a {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
footer .license-info .privacy a:first-of-type {
  margin-right: 53px;
}
footer .license-info .privacy a:nth-child(2) {
  margin-right: 54px;
}

/*# sourceMappingURL=style.css.map */
